@model SmartGoals.Models.Projeto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Projeto</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Inicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inicio)
            @Html.ValidationMessageFor(model => model.Inicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fim)
            @Html.ValidationMessageFor(model => model.Fim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCliente, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCliente", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCliente)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
