@model SmartGoals.Models.Perfil
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Perfil", FormMethod.Post, new { @id = "mainForm", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Perfil</legend>
        <div class="control-group">
            <label class="control-label" for="inputEmail">@Html.LabelFor(model => model.Nome)</label>
            <div class="controls">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">
                Funcionalidades:</label>
            <div class="controls">
                <table class="table table-bordered table-condensed" style="width: 300px;">
                    <tbody>
                        <tr>
                            @foreach (var item2 in @ViewBag.Funcionalidades)
                            {
                                <tr>
                                    <td style="width: 30px;">
                                        @if (Model.PerfilFuncionalidade.Any(o => o.IdFuncionalidade == item2.Id))
                                        {
                                            <input type="checkbox" id="@item2.Id" checked name="@item2.Id" value="@item2.Id" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="@item2.Id" name="@item2.Id" value="@item2.Id" /> 
                                        }
                                    </td>
                                    <td>
                                        @item2.Nome
                                    </td>
                                </tr> 
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn" })
        </div>
    </fieldset>
}
<script>
    $("#mainForm").validate({
        highlight: function (element, errorClass) {
            $(element).parents("div[class='control-group'] :eq(0)").addClass("control-group error");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).parents("div[class='control-group'] :eq(0)").removeClass("error");
        },

        rules: {
            Nome: "required"


        },
        messages: {
            Nome: "Campo Obrigatório"
        }
    });


</script>
