@model IEnumerable<SmartGoals.Models.Usuario>
@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="#">Usuario</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Title</li>
</ul>
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="@Url.Action("Index")">Home</a></li>
            <li><a href="@Url.Action("Create")">Novo Usuario</a></li>
      
        </ul>
    </div>
</div>


<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Senha
            </th>
            <th>
                Email
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
                 <th>
                Perfil
            </th>
            <th style = "width:30px;">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    *************
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                     <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Nome)
                </td>
                <td>
                     <div class="btn-group">
                        <a href="@Url.Action("Details", new { @id = item.Id })" class="btn btn-mini">Detalhes</a>
                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="javascript:Deletar(@item.Id)">Apagar</a></li>
                            
                            
                            <li>@Html.ActionLink("Editar", "Edit", new { @id = @item.Id })</li>
                            <li><a href="/Usuario/@item.Id/0/Tarefa/Create">Nova Tarefa</a></li>
                        <li>@Html.ActionLink("Tarefas", "Index", "Tarefa", new { @id = @item.Id }, null)</li>
                           
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    @using (Html.BeginForm("DeleteConfirmed", "Usuario", FormMethod.Post, null))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h3 id="myModalLabel">
                Delete</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="Id" id="IdDelete" />
            <p>
                Deseja Excluir esse Usuario?
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                Voltar</button>
            <button type="submit" class="btn btn-primary">
                Deletar</button>
        </div>
    }
</div>
<script>


    $(function () {
        $('#myModal').modal();
        $('#myModal').modal('hide');
    });

    function Deletar(id) {

        $('#IdDelete').val(id);

        $('#myModal').modal('show');
    }


</script>
