@model SmartGoals.Models.Cliente
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cliente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

         <div class="form-actions">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", new { }, new { @class="btn"})
       </div>
    </fieldset>
}
